In [1]:
# Use this cell to set up import statements for all of the packages that you
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

UsageError: Line magic function `%` not found.

In [3]:
# Load dataset
df = pd.read_excel('Diet_Biodiversity_Vietnam.xlsx')

In [ ]:
#maximum display for columns
pd.set_option('display.max_columns', None)

In [8]:
df.head()

,id,age,sex,childadult,country,season,proteintotal_g,fattotal_g,chototal_g,ca_mg,fe_mg,zn_mg,vitaraemcg,foodweight,folate_mcg,energy_kcal,vitamina_RE,vitaminc_mg,speciescount,ddscount10,ddscount21,ddscount27,vitamimanar,vitamimcnar,simpson,entropy,dissimilarity,zsimpson,zentropy,zdds,zdissimilarity,zMAR,zddscount10,zspeciescount,zfd,zn_mgnar,ca_mgnar,fe_mgnar,folate_mcgnar,MAR,meanprob,fd
0,1,24,male,child,Vietnam,dry and plenty season of agric produce,93.424872,49.934346,379.462014,544.159998,14.646743,15.714275,0,868.352806,149.164787,2242.380398,1135.306384,22.300847,7.0,5,7,9,1.000000,1.000000,0.932395,2.863999,0.249251,1.255923,1.314361,0.242226,-1.518586,1.388852,0.316459,-0.174297,0.314021,1.0,1.000000,0.378107,1.000000,0.896351,0.156519,0.442570
1,10,12,male,child,Vietnam,dry and plenty season of agric produce,59.506513,10.496200,730.441947,125.921000,8.626325,14.213554,0,942.466669,37.654000,2327.146667,1.513000,1.281000,8.0,3,5,6,0.007963,0.098538,0.794273,1.678917,0.698599,-1.130317,-1.447944,-0.174797,1.363452,-2.785312,-0.651053,-0.050962,-0.084946,1.0,0.251842,0.186027,0.313783,0.309692,0.055287,0.392715
2,100,24,female,child,Vietnam,dry and plenty season of agric produce,81.938201,53.993122,297.276322,220.044364,9.598182,13.021488,0,734.082545,152.926471,2002.799527,589.239100,15.897491,6.0,4,5,7,1.000000,1.000000,0.816440,1.934784,0.515786,-0.747357,-0.851545,-0.353521,0.190925,0.592894,-0.142802,-0.435194,-0.827848,1.0,0.440089,0.266809,1.000000,0.784483,0.138239,0.299883
3,101,23,female,adult,Vietnam,dry and plenty season of agric produce,138.613662,62.058965,419.439752,432.303117,18.039778,21.878646,0,1264.308696,219.538341,2790.373074,643.615020,42.094579,12.0,4,5,6,1.000000,1.000000,0.845273,2.169705,0.625475,-0.249226,-0.303966,-0.552103,0.894452,0.206226,-0.085681,0.781644,2.226830,1.0,0.540379,0.154397,0.686057,0.730139,0.107232,0.681592
4,102,24,male,child,Vietnam,dry and plenty season of agric produce,91.695294,84.446445,372.901352,181.125013,13.124619,16.759922,0,866.148746,81.479359,2612.228438,446.538448,5.501730,6.0,4,5,7,1.000000,0.423210,0.924029,2.694804,0.289564,1.111394,0.919984,-0.063591,-1.260026,-0.436864,-0.153002,-0.398928,-0.902570,1.0,0.362250,0.374078,0.678995,0.639755,0.083217,0.290546

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 42 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1306 non-null   int64
 1   age             1306 non-null   int64
 2   sex             1306 non-null   object
 3   childadult      1306 non-null   object
 4   country         1306 non-null   object
 5   season          1306 non-null   object
 6   proteintotal_g  1306 non-null   float64
 7   fattotal_g      1306 non-null   float64
 8   chototal_g      1306 non-null   float64
 9   ca_mg           1306 non-null   float64
 10  fe_mg           1306 non-null   float64
 11  zn_mg           1306 non-null   float64
 12  vitaraemcg      1306 non-null   int64
 13  foodweight      1306 non-null   float64
 14  folate_mcg      1306 non-null   float64
 15  energy_kcal     1306 non-null   float64
 16  vitamina_RE     1306 non-null   float64
 17  vitaminc_mg     1306 non-null   float64
 18  speciescount    1303 non-null   float64
 19  ddscount10      1306 non-null   int64
 20  ddscount21      1306 non-null   int64
 21  ddscount27      1306 non-null   int64
 22  vitamimanar     1306 non-null   float64
 23  vitamimcnar     1306 non-null   float64
 24  simpson         1306 non-null   float64
 25  entropy         1306 non-null   float64
 26  dissimilarity   1306 non-null   float64
 27  zsimpson        1306 non-null   float64
 28  zentropy        1306 non-null   float64
 29  zdds            1306 non-null   float64
 30  zdissimilarity  1306 non-null   float64
 31  zMAR            1306 non-null   float64
 32  zddscount10     1306 non-null   float64
 33  zspeciescount   1306 non-null   float64
 34  zfd             1306 non-null   float64
 35  zn_mgnar        1295 non-null   float64
 36  ca_mgnar        1306 non-null   float64
 37  fe_mgnar        1306 non-null   float64
 38  folate_mcgnar   1306 non-null   float64
 39  MAR             1295 non-null   float64
 40  meanprob        1306 non-null   float64
 41  fd              1303 non-null   float64
dtypes: float64(32), int64(6), object(4)
memory usage: 428.7+ KB

In [10]:
df['sex'].value_counts()

female    977
male      329
Name: sex, dtype: int64

In [11]:
df['childadult'].value_counts()

child    664
adult    642
Name: childadult, dtype: int64

In [13]:
df['country'].value_counts()

Vietnam    1306
Name: country, dtype: int64

In [14]:
df['season'].value_counts()

dry and plenty season of agric produce            764
lean and wet season - high availability of WEP    542
Name: season, dtype: int64

In [16]:
df['vitaraemcg'].value_counts()

0    1306
Name: vitaraemcg, dtype: int64

In [4]:
# drop country column
df.drop(['country'], axis=1, inplace=True)

In [5]:
# sort rows based on "id' in ascending Order
sort_df = df.sort_values(by = 'id', ascending = True)

In [6]:
#rename seasons
sort_df['season'] = sort_df['season'].replace({'dry and plenty season of agric produce': 'dry & plenty', 
                                               'lean and wet season - high availability of WEP': 'lean & wet'})

In [7]:
#confirm
sort_df['season'].value_counts()

dry & plenty    764
lean & wet      542
Name: season, dtype: int64

In [8]:
#rename columns
sort_df.rename(columns = {'proteintotal_g':'Protein(g)', 'fattotal_g':'fat(g)',
                              'chototal_g':'carbohydrate(g)', 'ca_mg':'Calcium(g)',
                         'fe_mg':'Iron(g)', 'zn_mg':'Zinc(g)', 'vitaraemcg':'VitaminA(mcg)',
                         'foodweight':'FoodWeight(g)', 'folate_mcg':'Folate(mcg)', 'energy_kcal':'Energy(Kcal)',
                         'vitamina_RE':'VitaminA(RE)', 'vitaminc_mg':'VitaminC(mcg)',
                         'speciescount':'SpeciesCount'}, inplace = True)

In [9]:
#round to 3 decimal places
sort_df.round(3)

,id,age,sex,childadult,season,Protein(g),fat(g),carbohydrate(g),Calcium(g),Iron(g),...,zddscount10,zspeciescount,zfd,zn_mgnar,ca_mgnar,fe_mgnar,folate_mcgnar,MAR,meanprob,fd
0,1,24,male,child,dry & plenty,93.425,49.934,379.462,544.160,14.647,...,0.316,-0.174,0.314,1.000,1.000,0.378,1.000,0.896,0.157,0.443
929,2,20,female,adult,dry & plenty,129.380,400.439,572.145,270.697,16.983,...,0.181,0.314,1.199,1.000,0.338,0.158,0.564,0.677,0.107,0.553
1230,3,22,female,adult,dry & plenty,105.956,109.487,520.265,541.968,16.753,...,-0.160,0.354,-0.201,1.000,0.677,0.138,1.000,0.803,0.138,0.378
1241,4,12,female,child,dry & plenty,87.320,44.009,262.515,162.980,7.655,...,-0.547,-0.490,-1.148,1.000,0.326,0.195,0.444,0.604,0.079,0.260
1252,5,22,female,adult,dry & plenty,206.174,144.115,484.616,620.534,35.853,...,0.280,0.358,0.073,1.000,0.776,0.358,1.000,0.856,0.112,0.412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218,2286,24,female,adult,dry & plenty,132.434,64.699,674.032,331.649,15.519,...,-0.126,-0.036,-0.132,1.000,0.415,0.131,0.287,0.481,0.064,0.387
1219,2287,12,female,child,dry & plenty,40.231,27.265,110.656,1019.488,52.339,...,-0.275,-0.630,-1.481,0.696,1.000,1.000,1.000,0.824,0.111,0.218
1220,2288,25,female,adult,dry & plenty,104.843,59.107,524.836,199.019,13.125,...,-0.547,-0.387,-0.550,1.000,0.249,0.120,0.433,0.594,0.081,0.335
1221,2289,12,female,child,dry & plenty,63.874,43.101,155.135,185.052,5.741,...,-0.238,-0.816,-1.067,1.000,0.370,0.175,0.206,0.565,0.070,0.270
1222,2290,22,female,adult,dry & plenty,4.489,3.178,0.483,10.450,0.699,...,-0.194,0.165,-0.881,0.060,0.013,0.006,0.018,0.034,0.000,0.293

In [10]:
#rename columns
sort_df.rename(columns = {'vitamimanar':'VitA_NAR', 'vitamimcnar':'VitC_NAR', 'zn_mgnar':'Zn_NAR',
                         'ca_mgnar':'Ca_NAR', 'fe_mgnar':'Fe_NAR', 'folate_mcgnar':'Folate_NAR',
                         'MAR':'Mean_NAR'}, inplace = True)

In [19]:
#Sort children data
Children = sort_df[(sort_df['age'] <= 23) & (sort_df['age'] >= 12)]

In [21]:
#Sort adult data
Adult = sort_df[(sort_df['age'] >= 24)]

In [23]:
#Store children data to CSV
Children.to_csv('children.csv', index = False)

In [24]:
#Store adult data to CSV
Adult.to_csv('adult.csv', index = False)